.jumbotron {
    background-image:  url("../../img/testbgfio.jpg");
    background-repeat: no-repeat center center;
    background-size: cover;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    min-height: 300px;
    /* width: auto; */
    /* height: 350px; */
    -webkit-fill-available: 100% 100%;
    background-blend-mode: hard-light;
    background-color: #00000038;
    /* margin-top: 8%; */
    /* background-position:  */
}

.img-fluid {
    max-width: 100%;
    float: left;
    height: auto;

}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 900;
    color: black;
    font-variant-caps: all-small-caps;
    font-style: italic;
}