.jumbotron {
    background-image:  url("../../img/markus-spiske-148030-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: auto;
    height: 350px;
    background-blend-mode: hard-light;
    background-color: #00000038;
    margin-top: 8%;
}

.img-fluid {
    max-width: 100%;
    float: left;
    height: auto;

}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 900;
    color: black;
    font-variant-caps: all-small-caps;
    font-style: italic;
}