.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

Navbar {
  color: red;
}

Jumbotron {
  background-image: url ("/../findjob/findjob/public/img/thumbnail.jpg")
}

.container {
  width: auto;
  padding: 0px;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: fit-content;
}

@media (min-width: 992px) {
    .container {
      width: auto;
    }
}

@media (min-width: 768px) {
.container {
    width: auto;
    }
}