.footerBottom {
  width:100%;
  height:100px;
  background-color: #dee3eb;
  margin-top: 50px;
  margin-bottom: 0px;
  border-color: #dee3eb;
  text-align: center;
  opacity: 1;
  padding: 5px;
  color: #dee3eb;
}

.footerDiv{
  margin-top: 10px;
}