.footerBottom {
  width:100%;
  height:100px;
  background-color: yellow;
  margin-top: 50px;
  margin-bottom: 0;
  border-color: #b8b511;
text-align: center;
opacity: 1;
  position: fixed;
  bottom:0;
    padding: 5px;
  }
.footerDiv{
  margin-top: 10px;
}