.navbar {
    background-color: #fffb16;
    color: black;
    position: sticky;
    padding: 5px;
    border-color: #b8b511;
    border-radius: 0px;
}
.form-inline {
    margin-right: 26%;
}
input {
    float: right;
    margin-right: 5px;
    margin-top: 7px;
    min-width: 500px;
}

button {
    float: right;
    width: 150px;
    margin-top: 7px;
    background-color: #000000;
    color: white;
}

.navbar-brand {
    float: left;
}

img {
    height: 35px;
}